.aboutMe {
    position: relative;
}
.component_top {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    align-items: center;
    position: relative;
}
.component_top h5 {
    font-size: 2.2rem;
}
.component_top h4 {
    font-size: 1.2rem;
    color: #A67277;
    position: relative;
    z-index: 60;
    background: #fff;
    padding: 0 10px;
}
.backline {
    width: 300px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 80px;
    border-radius: 10px;
    z-index: 50;
}
.aboutMe_body {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.aboutMe_img {
    margin-right: 50px;
}
.aboutMe_img img{ 
    width: 300px;
}
.aboutMe_txt {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.aboutMe_txt1 {
    font-weight: 600;
    font-size: 22px;
}
.aboutMe_txt1_5 {
    color: #A67277;
}
.aboutMe_txt2 {
    width: 650px;
    font-size: 18px;
}
.aboutMe_txt a {
    text-decoration: none;
    background: #A67277;
    color: #fff;
    border: 2px solid #A67277;
    padding: 15px 25px;
    border-radius: 30px;
    transition: all .3s ease;
    margin-bottom: 15px;
}
.aboutMe_txt a:hover {
    background: #fff;
    color: #A67277;
}


@media only screen and (max-width: 1440px){
    .component_top h5 {
        font-size: 1.7rem;
    }
    .component_top h4 {
        font-size: 1.1rem;
    }
    .backline {
        width: 280px;
        height: 4px;
        top: 68px;
    }
    .aboutMe_img img{ 
        width: 220px;
    }
    .aboutMe_body {
        padding: 0;
        padding-bottom: 20px;
    }
    .aboutMe_txt {
        padding-top: 10px;
    }
    .aboutMe_txt1 {
        font-size: 20px;
    }
    .aboutMe_txt2 {
        width: 580px;
        font-size: 16px;
    }
    .aboutMe_txt a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px){
    .component_top h5 {
        font-size: 1.2rem;
    }
    .component_top h4 {
        font-size: 0.8rem;
    }
    .backline {
        width: 200px;
        height: 3px;
        top: 56px;
    }
    .aboutMe_img { 
        margin-right: 20px;
    }
    .aboutMe_img img{ 
        width: 140px;
    }
    .aboutMe_body {
        padding: 0;
        padding-bottom: 20px;
    }
    .aboutMe_txt {
        padding-top: 0px;
    }
    .aboutMe_txt1 {
        font-size: 17px;
    }
    .aboutMe_txt2 {
        width: 530px;
        font-size: 15px;
    }
    .aboutMe_txt a {
        font-size: 14px;
        padding: 12px 20px;
    }
}

@media only screen and (max-width: 768px){
    .aboutMe_body {
        flex-direction: column;
        align-self: center;
    }
    .aboutMe_img { 
        text-align: center;
        margin-right: 0px;
    }
    .aboutMe_txt2 {
        width: 100%;
    }
    .aboutMe_txt {
        padding: 15px;
        align-items: center;
    }
    .aboutMe_txt div {
        display: flex;
        justify-content: center;
    }
    .hid {
        display: none;
    }
}